body{font:14px/1.8 arial; margin:0; padding:0; max-width:1024px; margin:0 auto;}
	ul,li,p,h1,section,label,a,input,div,span,h2,h3{margin:0; padding:0;}
	ul li{list-style:none;}
	a{text-decoration: none; color:#333;}
	a:hover{text-decoration: none;}
	img{max-width:100%; height:auto; border:0;}
	.mobile{overflow: hidden; -webkit-box-shadow: 0 0 24px rgba(0,0,0,0.5); box-shadow: 0 0 24px rgba(0,0,0,0.5); position: relative; height:100%;}
	#tm, #tm2,#tm3,#tm4{display: none;}
	
	.left-side{position: absolute; left:0; top:0; bottom:0; padding-top:50px; width:150px; background: rgba(50,60,60,.8);}
	.sidenav li {list-style-type: none;}
	.sidenav a { color: white; text-decoration: none; }
	.sidenav b {
		font: bold 12px/48px Arial; display: block;
		opacity: 0; -webkit-transform: translateX(50px); -ms-transform: translateX(50px); transform: translateX(50px); -webkit-transition: all 0.4s; transition: all 0.4s;
	}
	.right-side .sidenav b{-webkit-transform:translateX(-50px);-ms-transform:translateX(-50px);transform:translateX(-50px);}
	.sidenav i {
		display: block; width: 50px; float: left; 
		font-size: 16px; line-height: 48px; text-align: center;
	}
	.right-side{position: absolute; right:0; top:0; bottom: 0; padding-top:50px; width:150px; background: rgb(50,60,60);}
	.main{
		position: relative; 
		width:100%; 
		background: #E9E9E9; 
		-webkit-transition:all .25s; 
		transition:all .25s;
	}
	.content{}
	.header{position:relative;background: #FB4700; color:#fff; text-align: center; height:52px;}
	.label-logo{font-size:22px; line-height:32px; cursor:pointer; display:block; padding-top:4px;}
	.label-logo i{display:block; line-height:12px;-webkit-transform:rotate(0deg); -ms-transform:rotate(0deg); transform:rotate(0deg); -webkit-transition:all .3s; transition:all .3s}
	.label-left, .label-right{position: absolute; left:10px; top:8px; cursor: pointer; border:1px solid #fff; border-radius:20px; padding:5px 5px; width:20px; height:20px; line-height:20px; font-size:18px;}
	.label-right{left:auto; right:10px;}
	#tm:checked ~ .main{-webkit-transform:translateX(150px);-ms-transform:translateX(150px);transform:translateX(150px);}
	#tm:checked ~ .left-side li b {opacity: 1; -webkit-transform: translateX(0); -ms-transform: translateX(0); transform: translateX(0);}
	#tm:checked ~ .left-side li:nth-child(1) b {-webkit-transition-delay: 0.08s;transition-delay: 0.08s;}
	#tm:checked ~ .left-side li:nth-child(2) b {-webkit-transition-delay: 0.16s;transition-delay: 0.16s;}
	#tm:checked ~ .left-side li:nth-child(3) b {-webkit-transition-delay: 0.24s;transition-delay: 0.24s;}
	#tm:checked ~ .left-side li:nth-child(4) b {-webkit-transition-delay: 0.32s;transition-delay: 0.32s;}
	#tm:checked ~ .left-side li:nth-child(5) b {-webkit-transition-delay: 0.40s;transition-delay: 0.40s;}
	#tm:checked ~ .left-side li:nth-child(6) b {-webkit-transition-delay: 0.48s;transition-delay: 0.48s;}
	#tm2:checked ~ .main{-webkit-transform:translateX(-150px);-ms-transform:translateX(-150px);transform:translateX(-150px);}
	#tm2:checked ~ .right-side .sidenav li b{opacity:1; -webkit-transform:translateX(0); -ms-transform:translateX(0); transform:translateX(0);}
	#tm2:checked ~ .right-side li:nth-child(1) b {-webkit-transition-delay: 0.08s;transition-delay: 0.08s;}
	#tm2:checked ~ .right-side li:nth-child(2) b {-webkit-transition-delay: 0.16s;transition-delay: 0.16s;}
	#tm2:checked ~ .right-side li:nth-child(3) b {-webkit-transition-delay: 0.24s;transition-delay: 0.24s;}
	#tm2:checked ~ .right-side li:nth-child(4) b {-webkit-transition-delay: 0.32s;transition-delay: 0.32s;}
	#tm2:checked ~ .right-side li:nth-child(5) b {-webkit-transition-delay: 0.40s;transition-delay: 0.40s;}
	#tm2:checked ~ .right-side li:nth-child(6) b {-webkit-transition-delay: 0.48s;transition-delay: 0.48s;}
	
	.head-img{max-width:100%; height:auto; width:100%; display:block;}
	.list li{padding:10px 0; border-bottom:1px solid #ddd; margin-left:10px; zoom:1;}
	.list li:before, .list li:after{display:table; content:"";}
	.list li:after{clear:both;}
	.thumb-img{float:left; margin-right:20px;}
	.entry-cont{overflow:hidden;}
	.entry-cont h2{font-size:20px;}
	.entry-meta{float:right;}
	.top-nav{display:none; position:absolute; top:100%; left:0; right:0; background:rgba(0,0,0,0.3); width:100%;}
	.top-nav ul{font-size:0; *word-spacing:-1px; padding:6px 4px 4px;}
	.top-nav li{display:inline-block; *display:inline; *zoom:1; vertical-align:top; letter-spacing:normal; word-spacing:normal; font-size:14px; width:20%; text-align:center;}
	@media screen and (-webkit-min-device-pixel-ratio:0){
		.top-nav ul{letter-spacing:-5px;}
	}
	.top-nav li a{color:#fff; padding:0 4px; display:block;}
	.top-nav li i{display:block; padding:4px; border:1px solid #fff; border-radius:15px; width:15px; height:15px; margin:0 auto 4px;}
	#tm3:checked ~ .top-nav{display:block;}
	#tm3:checked ~ .label-logo i{-webkit-transform:rotate(180deg);-ms-transform:rotate(180deg);transform:rotate(180deg);}
	
	/*search*/
	.label-search{position:absolute; top:20px; left:10px; color:#fff; border-bottom:1px solid #fff; display:block; width:128px; font-size:14px; line-height:1.4; cursor:pointer}
	.label-search i{float:right; opacity:.6; font-weight:normal; padding-right:10px;}