.button{
	background:#ececec;
	background-image:-webkit-gradient(linear, left top, left bottom, from(#f4f4f4), to(#ececec));
	background-image:-webkit-linear-gradient(#f4f4f4, #ececec);
	background-image:linear-gradient(#f4f4f4,#ececec);
	text-shadow:0 0 2px rgba(0,0,0,0.3);
}